<h1>Dashboard</h1>

<%# This is a the data that will be used for the dasboard "menu" navbar  %>
<%= render 'my/menu' %>

<button id="dailyTrigger">Start Video Chat</button>

<div id="videoContainer"></div>