// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom variables
$concisely-orange1: #FB743E;
$concisely-grey1: #383E56;
$concisely-border-radius: 16px;
$concisely-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$concisely-box-shadow-hover: 0 10px 20px rgba(0,0,0,0.30), 0 6px 6px rgba(0,0,0,0.50);
