<div>
  <h2><strong>Book a Lesson</strong></h2>
  <%= render partial: "booking-form-modal", locals: { lesson: lesson, booking: Booking.new } %>
</div>
<div id="contact">
  <h3><strong>Ask Coach a Question</strong></h3>
  <%= render partial: "messaging_section_modal", locals: { user: lesson.user, message: Message.new } %>
</div>