<div>
  <h4 class="text-center"><strong>Book a Lesson</strong></h4>
  <%= render partial: "lessons/booking-form-modal", locals: { lesson: lesson, booking: Booking.new } %>
</div>
<div class= "text-center mt-4 mb-3" id="contact">
  <h4><strong>Ask Coach a Question</strong></h4>
  <%= render partial: "lessons/messaging_section_modal", locals: { user: lesson.user, message: Message.new } %>
</div>

