#video-container {
  background-image: image-url("video_chat.png");
  background-position: 50% 50%;
  // height: 100%;
  // width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 85%;
  height: 80vh;
}

// #video-buttons {
//   width: 15%;
//   padding: 20px;
// }

