#video-container {
  background-image: image-url("video_chat.png");
  background-position: 50% 50%;
  // height: 100%;
  // width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}

.video-buttons {
  height: 200px!important;
}

.video-button-video {
  max-width: 100%!important;
  top: 200px;
}

.video-button-report {
  max-width: 100%!important;
  top: 230px;
}

.video-container {
  margin-bottom: 0!important;
}

#dailyTrigger {
  max-width: 100%!important;
}