

<div class="artboard">
 <div class="card">

  <div class="card__side card__side--back">
   <div class="card__cover">
    <h4 class="card__heading">
     <span class="card__heading-span">Book a lesson</span>
    </h4>
   </div>
   <div class="card__details">
    <ul>
    <p><i>and nail your interview</i></p>
    <% if user_signed_in? %>
     <%= link_to "Browse Lessons", lessons_path, class: "btn btn-flat" %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-flat" %>
    <% end %>
    </ul>
   </div>
  </div>

  <div class="card__side card__side--front">
   <div class="card__theme">
    <div class="card__theme-box">
     <p class="card__title">Welcome to Concisely</p>
    </div>
   </div>
  </div>

 </div>
</div>