<div class="d-flex pt-5 position-relative">
  <div class="call-to-action">
    <p>Interviews don't need to be stressful.<p>
    <p>Stop worrying, we can help!</p>
    <p>Hire a coach,</p>
    <p>And get interviewed the right way.</p>
  <div class="container border border-primary" id="home-search">
    <% if user_signed_in? %>
    <%#= link_to "Browse all lessons", lessons_path, class: "btn btn-flat" %>
    <div class="dropdown">
      <button class="btn btn-flat">Browse by industry</button>
      <div class="dropdown-content">
        <% Lesson::INDUSTRIES.each do |industry| %>
          <%= link_to industry.titleize, lessons_path(industry: industry) %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-flat" %>
  <% end %>
</div>
</div>

  <%= image_tag "concisely_banner.jpg", :class => "banner" %>

</div>

<div class="d-flex w-75 justify-content-around home-cards">
<div class="home-card"></div>
<div class="home-card"></div>
<div class="home-card"></div>
</div>
