<div class="search">
  <input type="text" class="searchTerm" placeholder="What are you looking for?">
  <button type="submit" class="searchButton">
    <i class="fa fa-search"></i>
  </button>
</div>

<div class="cards">
  <div class="card-category" style="background-color: black">
    Teachers and students from around the world
  </div>

  <div class="card-category" style="background-color: orange">
    Intuitive and user firendly
  </div>

  <div class="card-category" style="background-color: black">
    Improve your communication skills
  </div>
</div>