<%= simple_form_for [ lesson, booking ] do |f| %>
  <div class="modal-availability mb-3">
    <%= text_field :date, nil, class: "datepicker d-none", data: {url: lesson_available_times_path(lesson) } %>
  </div>
  <%# The empty div is for the drop down menu of the available slots %>
  <div class="times">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Available Slots</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" disabled="true">
        <option selected>Pick a date first</option>
      
      </select>
    </div>
  </div>
  <%= f.submit "Book Lesson", class: "btn btn-outline-warning btn-block btn-lg mt-3 mb-3" %>
<% end %>

