<%= simple_form_for [ lesson, booking ] do |f| %>
  <%= label :date, nil %>
  <%= text_field :date, nil, class: "datepicker d-none", data: {url: lesson_available_times_path(lesson) } %>
  <div class="times mt-3"></div>
  <%= f.submit "Book", class: "btn btn-warning btn-lg mt-3 mb-3" %>
<% end %>
