 <!-- Modal -->
<div class="modal fade" id="myModal<%= lesson.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= render 'lessons/modal/header', lesson: lesson %>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="modal-description col-8">
            <%= render 'lessons/modal/description', lesson: lesson %>
          </div>
          <div class="col-4">
            <%= render 'lessons/modal/booking_availability', lesson: lesson %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
