<!-- <p>These are the lessons matching your search</p> -->
<div class="container py-5">
  <h3>Search By Price | Search By Rating | Search By Name</h3>
</div>
<div class="container">
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="col-sm-6 col-md-4">
        <%= render partial: "lesson", locals: { lesson: lesson } %>
        <%= render partial: "modal", locals: { lesson: lesson } %>
      </div>
    <% end %>
  </div>
</div>
