<!-- <p>These are the lessons matching your search</p> -->

<% if params[:industry].present? %>
  <div class="container py-5">
    <h3>Search Results for <%= params[:industry].capitalize %></h3>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="col-sm-6 col-md-4">
        <%= render partial: "lesson", locals: { lesson: lesson } %>
        <%= render partial: "modal", locals: { lesson: lesson } %>
      </div>
    <% end %>
  </div>
</div>
