<h1>Search Results</h1>
<!-- <p>These are the lessons matching your search</p> -->
<div class="container ">
  <div class="row">
  <% @lessons.each do |lesson| %>
    <div class="col-sm-6 col-md-4 ">
      <div class="card-product border">
        <%= render partial: "coach-profile-modal", locals: { lesson: lesson } %>
      </div>
    </div>
  <% end %>
  </div>
</div>

