<div class="container">
  <div class="d-flex">
    <div class="d-flex flex-column justify-content-around video-buttons">
      <button class="btn btn-warning h-100 my-3 mr-2 video-button" id="dailyTrigger">Start Video Chat</button>
      <button class="btn btn-primary h-100 my-3 mr-2 video-button">Create Report</button>
    </div>
    <div id="video-container"></div>
  </div>
</div>

