<div class="container video-container">
  <div class="d-flex">
    <div class="d-flex flex-column mr-1 video-buttons">
      <button class="btn video-button-video" id="dailyTrigger">Start Video Chat</button>
      <% if @coach %>
        <%= link_to "Create Report", new_booking_report_path(params[:booking_id]), :class => "btn-secondary video-button-report" %>
      <% end %>
    </div>
    <div id="video-container"></div>
  </div>
</div>

