.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.avatar-next-lesson {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-next-lessons {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
