.banner-container {
  width: 100vw;
  height: 100vh;
}

.banner {
  outline: 2px solid black;
  background-image: image-url('concisely_banner.jpg');
  background-size: 70%;
  background-position: center;
  padding: 350px;
  background-repeat: no-repeat;
}

.banner-word {
  display: inline-block;
  max-width: 100%;
  animation: bounceInDown;
  animation-duration: 3s;
  position: relative;
  top: -400px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
