.banner {
  display: block;
  width: 80%;
  margin-right: -10%;
  padding-top: 5%;
  // padding-bottom: 5%;
  position: relative;
  z-index: -1;
  filter: saturate(0.85);
}

.call-to-action {
  font-size: 60px;
    font-family: 'Saira Condensed', sans-serif;
    color: #2D4150;
    position: absolute;
    left: 0;
    width: 60%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#home-search {
  font-size: 16px;
}

.home-cards {
  margin: 0 auto;
}

.home-card {
  // position: absolute;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 300px;
  height: auto;
  text-align: center;
}

.home-text {
  width: 300px;
  border: 4px solid $concisely-orange;
}

.home-card-img {
  // height: 300px;
  border: 2px solid $concisely-orange;
  border-radius: 12px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: $concisely-box-shadow;
  // position: relative;
  // object-fit: cover;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-menu-customize {
  border: 1px solid $concisely-orange;
  width: 400px;
  height: auto;
  columns: 3;
  border-radius: $concisely-border-radius;
  box-shadow: $concisely-box-shadow;
}

.dropdown-menu-customize a {
  font-size: 16px;
  text-decoration: none;
  color: $concisely-orange;
  white-space: pre-line;
}

.dropdown-item-customize:hover {
  border-radius: $concisely-border-radius;
}

.dropdown-toggle::after {
  display: none;
}

.catch-phrase {
  text-align: center;
  font-family: $headers-font;
  text-transform: uppercase;
}

.catch-phrase span {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(251, 116, 62, .7) 40% 75%,
        rgba(0, 0, 0, 0) 75%
      );

}