.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.bookings-card {
  // border: solid 1px black;
  border-radius: 4px;
  width: 400px;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
}

.reports-card {
  border: solid 1px black;
  border-radius: 4px;
  width: 400px;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
}

.report-card {
  border: solid 1px black;
  border-radius: 4px;
  width: 200px;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  background-color: white;
}

.upcoming-booking-info {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.495);
  padding: 4px;
  border-radius: 10px;
  margin-bottom: 4px;
}

.bookings-card {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.495);
  padding: 4px;
  border-radius: 10px;
  margin-bottom: 4px;
  background-color: #F5F5F5;
}

.booking-coach {
  background-color: rgb(255, 153, 0);
  position: fixed;
  width: 80px;
  transform: rotate(30deg);


}

.booking-card-coach {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.495);
  padding: 4px;
  border-radius: 10px;
  margin-bottom: 4px;
}

.booking-square {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: rgb(255, 153, 0);
  margin-top: 50px;
}


.coaching-indicator {
  background-color: rgb(255, 153, 0);
  padding: 4px 8px;
  border-radius: 10px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
