.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}


.navbar-light .navbar-nav .nav-link {
  color: white;
}

.company-name{
  color: #F2F2F2;
}

.nav-link:hover{
  background-color: $concisely-orange!important;
  color: white!important;
}

.navbar-lewagon .dropdown-item {
  padding: 12px;
  text-align: center;

  &:hover {
    border-radius: $concisely-border-radius;
  }
}

.navbar-lewagon .dropdown-menu {
  border-radius: $concisely-border-radius;
  box-shadow: $concisely-box-shadow;
  font-size: 16px;
}

.navbar-lewagon a {
  text-decoration: none;
  color: $concisely-grey;
}

.nav-link {
  // text-decoration: none;
  color: $concisely-grey!important;
}

.nav-tabs {
  padding-top: 120px;
}
.nav-item a {
  margin-right: 20px;
  font-size: 18px;
  padding-top: 19px;
  padding-bottom: 19px;
}
