// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/searchbar";
@import "components/cards";
@import "components/footer";
@import "components/banner";
@import "components/buttons";
@import "components/alert";
@import "components/avatar";
@import "components/forms";

body {
  background-color: #f2f2f2;
  text-align: center;
}

.titles {
  padding: 30px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 100px;
}

.description {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.title {
  margin-top: 40px;
}
