<div class="container pt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Lessons", my_bookings_path, class: "nav-link", id: "booking-id"%>
    </li>
    <li class="nav-item">
      <%= link_to "Reports", my_reports_path, class: "nav-link", id: "report-id"%>
    </li>
    <li class="nav-item">
      <%= link_to "Messages", my_conversations_path, class: "nav-link", id: "conversation-id"%>
    </li>
    <li class="nav-item">
      <%= link_to "Payments", my_payments_path, class: "nav-link", id: "payment-id"%>
    </li>
  </ul>
</div>


