<div class="container pt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Lessons", my_bookings_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Reports", my_reports_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Messages", my_conversations_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Payments", my_payments_path, class: "nav-link" %>
    </li>
  </ul>
</div>


