<div class="container pt-3">

  <ul class="nav nav-tabs">
    <li class="nav-item nav-item-custom">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Lessons", my_bookings_path, class: "nav-link active" %>
      <%# <a class="nav-link active" href="#">Active</a> %>
    </li>
    <li class="nav-item">
      <%= link_to "Reports", my_reports_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Messages", my_conversations_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Payments", my_payments_path, class: "nav-link active" %>
    </li>
  </ul>
</div>
